[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	g = grep
	df = diff
[grep]
	lineNumber = true
[push]
	default = current
[core]
	autocrlf = false
	quotepath = false
  excludesfile = ~/.gitignore
[color]
	ui = true
[user]
	name = Gengo Tanaka
	email = gen0908@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
